.formContainer {
    margin-top: 3%;
    display: flex;
    flex: 1;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100%; /* Ocupa toda la altura de la pantalla */
}

.formulario {
    background-color: #D7D8D8;
    padding: 20px;
    border-radius: 8px; /* Opcional: para esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Opcional: para un efecto de sombra */
    width: 50%;
}
form{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn.btn-primary{
    background-color: #D20E12;
    border-color: #D20E12;
}


html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}
#registerForm {
    display: none; /* Para mostrar inicialmente solo el formulario de registro */
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;

}